<div class="modal fade" id="bookingModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Book Appointment – <span id="modalServiceName"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <input type="hidden" id="modalServiceId" />

                <div class="mb-3">
                    <label>Select Date</label>
                    <input type="date" id="modalDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(10).ToString("yyyy-MM-dd")"/>
                </div>

                <div class="mb-3">
                    <label>Select Slots</label>
                    <div id="modalSlots"></div>
                </div>

                <div class="mb-3">
                    <label>Available Stylists</label>
                    <div id="modalStylists"></div>
                </div>

            </div>

            <div class="modal-footer">
                <button id="confirmBookingBtn" class="btn btn-warning">
                    Confirm Booking
                </button>

                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

