
@{
    ViewBag.Title = "Manage All Appointments";
}

<div class="text-center mb-5">
    <h1 class="hero-title mt-5">
        All Appointments
    </h1>
    <div class="mx-auto mt-2"
         style="width: 60px; height: 4px; border-radius: 2px; background: linear-gradient(135deg, #2E003E, #5A189A);">
    </div>
    <p class="text-muted mt-2 small">
        View and manage all customer bookings
    </p>
</div>


<table id="appointmentsTable" class="table table-bordered table-striped text-center table-hover mt-4">
    <thead class="custom-table-head">
        <tr>
            <th class="text-center">Appointment Date</th>
            <th class="text-center">Customer Name</th>
            <th class="text-center">Stylist</th>
            <th class="text-center">Service</th>
            <th class="text-center">Status</th>
        </tr>
    </thead>
    <tbody id="AllAppointmentsContainer" class="background-primary">
    </tbody>
</table>
@Html.ActionLink("← Back", "Index", "Account", null, new { @class = "btn btn-hover background-primary mb-4" })


@section Scripts{
    <script>
        $(document).ready(function () {
            console.log("Hello");
            loadAllAppointments();
        });

        function loadAllAppointments() {
            //debugger
            $.ajax({
                url: "/Appointment/AppointmentsAll",
                @*url: "@Url.Action("AppointmentsAll", "Appointment")",*@
                type: "GET",
                contenttype: "application/json",
                success: function (data) {
                    //debugger
                    //console.log("Hello");
                    renderAllAppointments(data);
                },
                error: function (err) {
                    //debugger
                    console.log(err);
                    alert('Something Went Wrong!!');
                }
            });
        }

        function AppointmentModel(obj) {
            this.AppointmentId = obj.AppointmentId;
            this.CustomerName = obj.CustomerName;
            this.ServiceName = obj.ServiceName;
            this.StylistName = obj.StylistName;
            this.AppointmentDate = parseNetDate(obj.AppointmentDate);
            this.Status = obj.Status;
            this.StatusText = AppointmentStatusText[obj.Status];
        }

        const AppointmentStatusText = {
            1: "Booked",
            2: "Cancelled",
            3: "Completed",
            4: "NoShow"
        };

        function parseNetDate(value) {
            //console.log(value);
            //console.log(value.substr(6))
            return new Date(parseInt(value.substr(6)));
        }

        function formatDate(date) {
            return date.toLocaleDateString();
        }

        function renderAllAppointments(list) {
            let container = $("#AllAppointmentsContainer");
            container.empty();

            if (!list || list.length === 0) {
                container.append(`
                    <tr>
                        <td colspan="5" class="text-center text-muted">
                            No appointments found
                        </td>
                    </tr>
                `);
                return;
            }

            list.forEach((item) => {
                let appointment = new AppointmentModel(item);
                //console.log(JSON.stringify(appointment));
                let html = `
                        <tr>
                            <td>${formatDate(appointment.AppointmentDate)}</td>
                            <td>${appointment.CustomerName}</td>
                            <td>${appointment.StylistName}</td>
                            <td>${appointment.ServiceName}</td>
                            <td class="d-flex justify-content-evenly">
                                <select class="form-select form-select-sm w-auto mx-auto
                                    ${getStatusClass(appointment.StatusText)} text-white"
                                    onchange='updateStatus(${JSON.stringify(appointment)}, this.value)'>
                                    <option value="1" ${appointment.Status == 1 ? "selected" : ""}>Booked</option>
                                    <option value="2" ${appointment.Status == 2 ? "selected" : ""}>Cancelled</option>
                                    <option value="3" ${appointment.Status == 3 ? "selected" : ""}>Completed</option>
                                    <option value="4" ${appointment.Status == 4 ? "selected" : ""}>NoShow</option>
                                </select>
                            </td>
                        </tr>
                    `;
                container.append(html);
            });
            $('#appointmentsTable').DataTable({
                pageLength: 10,
                ordering: true,
                searching: true
            });
        }

        function getStatusClass(status) {
            switch (status.toLowerCase()) {
                case "completed":
                    return "bg-warning text-dark";
                case "booked":
                    return "bg-success";
                    //return "background-primary ";
                case "cancelled":
                    return "bg-danger";
                case "noshow":
                    return "bg-secondary";
                default:
                    return "bg-info";
            }
        }

        function updateStatus(appointment, newStatus) {
            if (!confirm("Are you sure you want to update status?")) return;

            appointment.Status = newStatus;

            $.ajax({
                url: '/Appointment/UpdateStatus',
                type: 'POST',
                contentType:"application/json",
                data: JSON.stringify(appointment),
                success: function (res) {
                    if (res.success) {
                        alert("Status updated successfully");
                        location.reload();
                    } else {
                        alert("Failed to update status");
                    }
                },
                error: function () {
                    alert("Error updating status");
                }
            });
        }
    </script>
}